body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: #333;
}

header {
    background: #6e057c;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

h2{
    text-align: center;
}

.caixa{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15%;
    
}

.respostas button{
    border: none;
    padding: 20px;
    border-radius: 10px;
    margin-left: 250px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: inline;
}

.op1{
    background-color: rgb(233, 124, 124);
}

.op2{
    background-color: rgb(124, 124, 228);
}

.op3{
    background-color: rgb(230, 212, 116);
}

.op4{
    background-color: rgb(152, 233, 152);
}

